<div class="container-lg">
  <h1 class="display-4">
    <a href="/" class="gradient-text">Vladislavs Mihailovs</a>
  </h1>
  <h2 class="lead">Junior Full stack develoer</h2>
  <p class="lead">....</p>
  <nav class="nav">
    <ul class="nav row">
      <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Contacn me</a>
      </li>
    </ul>
  </nav>
  <div class="links">
    <ul class="nav col">
      <li class="nav-item"><a class="nav-link" href="#about">a</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">b</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">c</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">d</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">e</a>
      </li>
    </ul>
  </div>
</div>
