<div id="about">
  <h1 class="gradient-text">about</h1>
  <div class="gradient-bar"></div>
  <div class="py-3 py-lg-4">
    <p class="block-text">
      Hello! My name is Vladislavs and I'm passionate about crafting innovative
      solutions for the web. My journey in web development began during my
      <a href="#education">studies</a>, where I delved into various
      <a href="#tech-stack">programming languages and technologies</a>.
      Currently, I'm on the brink of completing my IT degree at Latvia
      University of Life Sciences and Technologies. Along the way, I'm grateful
      for the opportunity to have interned at a small company, where I gained
      invaluable insights and fostered meaningful connections. This immersive
      experience not only broadened my skill set but also deepened my
      understanding of creating accessible and inclusive digital products. I'm
      excited to continue my journey in web development and contribute to
      meaningful projects that make a positive impact. Let's connect and explore
      how we can create something extraordinary together!
    </p>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="expirience">
  <h1 class="gradient-text">Expirience</h1>
  <div class="gradient-bar"></div>
  <div class="py-3">
    <div>
      <div class="expir-educat-block">
        <div class="expir-educat-info">
          <div class="date-tab">Mar 2024 -</div>
          <a href="https://softrocket.org/" target="_blank">
            <h4 class="block-text">Softrocket</h4>
          </a>
          <p class="block-text">Frontend developer</p>
          <p class="block-text">
            Currently this block is empty, but not for long.
          </p>
          <div class="text-center">
            <img
              class="w-25 h-25"
              src="https://media2.giphy.com/media/f6hnhHkks8bk4jwjh3/giphy.gif?cid=6c09b952md5rn89zv1ag1zfinpsvq36lsyrb0epz3xh0f9ag&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s"
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="expir-educat-block">
        <div class="expir-educat-info">
          <div class="date-tab">Sep 2023 - Mar 2024</div>
          <a href="https://www.bbit.tech/" target="_blank">
            <h4 class="block-text">BBIT</h4>
          </a>
          <p class="block-text">Full Stack developer internship</p>
          <p class="block-text">
            As a Full Stack Developer Intern at BBIT, I've contributed to both
            front-end and back-end development projects. Using technologies such
            as HTML, CSS, JavaScript, Angular, .Net, and Sqlserver, I've gained
            hands-on experience in implementing responsive user interfaces and
            handling server-side logic. This internship has provided valuable
            insights into practical web development, enhancing my
            problem-solving skills and fostering continuous learning in emerging
            technologies.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="education">
  <h1 class="gradient-text">Education</h1>
  <div class="gradient-bar"></div>
  <div class="py-3 py-lg-4">
    <div class="expir-educat-block">
      <div class="expir-educat-info">
        <div class="date-tab">2020-2024</div>
        <a
          href="https://www.lbtu.lv/en/information-technologies-for-sustainable-development"
          target="_blank"
        >
          <h4 class="block-text">
            Information Technologies for Sustainable Development
          </h4>
        </a>
        <p class="block-text">Professional Bachelor Degree</p>
        <p class="block-text">
          Achieved a Professional Bachelor Degree in Information Technologies
          for Sustainable Development from LBTU. Acquired hands-on skills in
          software development and a comprehensive understanding of sustainable
          IT solutions. The program's practical applications and a substantial
          industry internship enhanced my proficiency as a Programming Engineer.
          Dedicated to crafting solutions that contribute to societal and
          environmental well-being.
        </p>
      </div>
    </div>
  </div>
</div>
<div
  data-aos="zoom-in-up"
  data-aos-duration="1500"
  id="tech-stack"
  class="tech-stack mb-3"
>
  <h1 class="gradient-text">My Tech Stack</h1>
  <div class="gradient-bar"></div>
  <div class="py-3 py-lg-4">
    <h4 class="block-h4">Languages I know and currently learning:</h4>
    <div class="icons pt-2 row">
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/c--4.svg"
          alt="c#"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript-2.svg"
          alt="typescript"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg"
          alt="javascript"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/html-1.svg"
          alt="html"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/css-3.svg"
          alt="css"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/dart.svg"
          alt="dart"
          class="img-fluid"
        />
      </div>
    </div>

    <h4 class="block-h4 pt-2">Tehnologies I'm using and like:</h4>
    <div class="icons pt-2 row">
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/dot-net-core-7.svg"
          alt=".net"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg"
          alt="angular"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/git-icon.svg"
          alt="git"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/bootstrap-4.svg"
          alt="bootstrap"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/microsoft-sql-server-1.svg"
          alt="sqlserver"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/postgresql.svg"
          alt="postgres"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/flutter.svg"
          alt="flutter"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="projects">
  <h1 class="gradient-text">projects</h1>
  <div class="gradient-bar"></div>
  <div class="py-3 py-lg-4">
    <p class="block-text">Currently this block is empty, but not for long.</p>
    <div class="text-center">
      <img
        class="w-25 h-25"
        src="https://media2.giphy.com/media/f6hnhHkks8bk4jwjh3/giphy.gif?cid=6c09b952md5rn89zv1ag1zfinpsvq36lsyrb0epz3xh0f9ag&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s"
      />
    </div>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="contactme">
  <h1 class="gradient-text">Contact me</h1>
  <div class="gradient-bar"></div>
  <div class="py-3 py-lg-4">
    <p class="block-text">Currently this doesn't work, but not for long.</p>
    <app-contact-form></app-contact-form>
  </div>
</div>
