<div id="about">
  <h1 class="gradient-text">about</h1>
  <div class="gradient-bar"></div>
  <div class="p-2 py-5">
    <p class="block-text">
      What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum
    </p>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="expirience">
  <h1 class="gradient-text">Expirience</h1>
  <div class="gradient-bar"></div>
  <div class="p-2 py-5">
    <div class="expir-educat-block">
      <div class="expir-educat-info">
        <div class="date-tab">sep 2023-present</div>
        <a href="https://www.bbit.tech/" target="_blank">
          <h4 class="block-text">BBIT</h4>
        </a>
        <p class="block-text">Full stack developer internship</p>
        <p class="block-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti
          culpa tempora quis aliquam in voluptas error itaque necessitatibus
          optio perspiciatis laudantium a, vitae fugiat et officia sed cumque ex
          debitis!
        </p>
      </div>
    </div>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="education">
  <h1 class="gradient-text">Education</h1>
  <div class="gradient-bar"></div>
  <div class="p-2 py-5">
    <div class="expir-educat-block">
      <div class="expir-educat-info">
        <div class="date-tab">2020-2024</div>
        <a
          href="https://www.lbtu.lv/en/information-technologies-for-sustainable-development"
          target="_blank"
        >
          <h4 class="block-text">
            Information Technologies for Sustainable Development
          </h4>
        </a>
        <p class="block-text">Professional Bachelor Degree</p>
        <p class="block-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti
          culpa tempora quis aliquam in voluptas error itaque necessitatibus
          optio perspiciatis laudantium a, vitae fugiat et officia sed cumque ex
          debitis!
        </p>
      </div>
    </div>
  </div>
</div>
<div
  data-aos="zoom-in-up"
  data-aos-duration="1500"
  id=""
  class="tech-stack mb-3"
>
  <h1 class="gradient-text">My Tech Stack</h1>
  <div class="gradient-bar"></div>
  <div class="p-2 py-5">
    <h4 class="block-h4">Languages I know and currently learning:</h4>
    <div class="icons pt-2 row">
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/c--4.svg"
          alt="c#"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript-2.svg"
          alt="typescript"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg"
          alt="javascript"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/html-1.svg"
          alt="html"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/css-3.svg"
          alt="css"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/dart.svg"
          alt="dart"
          class="img-fluid"
        />
      </div>
    </div>

    <h4 class="block-h4 pt-2">Tehnologies I'm using and like:</h4>
    <div class="icons pt-2 row">
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/dot-net-core-7.svg"
          alt=".net"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg"
          alt="angular"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/git-icon.svg"
          alt="git"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/bootstrap-4.svg"
          alt="bootstrap"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/microsoft-sql-server-1.svg"
          alt="sqlserver"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/postgresql.svg"
          alt="postgres"
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 col-4 pt-2 text-center">
        <img
          src="https://cdn.worldvectorlogo.com/logos/flutter.svg"
          alt="flutter"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="projects">
  <h1 class="gradient-text">projects</h1>
  <div class="gradient-bar"></div>
  <div class="p-2 py-5">
    <p class="block-text">
      What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum
    </p>
  </div>
</div>
<div data-aos="zoom-in-up" data-aos-duration="1500" id="contactme">
  <h1 class="gradient-text">Contact me</h1>
  <div class="gradient-bar"></div>
  <div class="p-2 py-5">
    <p class="block-text">
      What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum
    </p>
    <app-contact-form></app-contact-form>
  </div>
</div>
