@import "../variables.scss";

.container {
  padding: 96px 20px;
}

@media screen and (min-width: 992px) {
  .header {
    position: sticky;
    top: 96px;
    max-height: 600px;
  }

  .container {
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding: 50px 20px;
  }
}
