@import "~bootstrap/dist/css/bootstrap.css";
@import "./variables";
@import "aos/dist/aos.css";
body {
  background-color: $black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
